@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}

.scroll{
    background-color: #2488ff;
}

:root {
    --color-titulo: #ffe08e;
}

body {
    overflow-x: hidden;
}

a {
    text-decoration: none;
    color: white;
}

/* --------------------------HEADER-------------------------- */
header {
    position: fixed;
    width: 100vw;
    height: 15vh;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 100;
}

header>nav {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0 10%;
    justify-content: space-between;
}

header>nav>ul {
    display: flex;
    gap: 4rem;
}

header>nav>ul>li {
    font-weight: 600;

}


.botao {
    color: #e1e1e1;
    font-family: inherit;
    font-weight: 800;
    cursor: pointer;
    position: relative;
    border: none;
    background: none;
    text-transform: uppercase;
    transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
    transition-duration: 400ms;
    transition-property: color;
}

.botao:focus,
.botao:hover {
    color: #fff;
}

.botao:focus:after,
.botao:hover:after {
    width: 100%;
    left: 0%;
}

.botao:after {
    content: "";
    pointer-events: none;
    bottom: -2px;
    left: 50%;
    position: absolute;
    width: 0%;
    height: 2px;
    background-color: #fff;
    transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
    transition-duration: 400ms;
    transition-property: width, left;
}

.logo {
    width: 40%;
    cursor: pointer;
}


.menuButton {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 13%;
    color: #090909;
    width: 2em;
    height: 2em;
    border-radius: 0.5em;
    transition: all .3s;
    cursor: pointer;
  }
  
  
  .menuButton:active {
    color: #666;
  }
  
  input[type = "checkbox"] {
    /* -webkit-appearance: none; */
    display: none;
    visibility: hidden;
  }
  
  .menuButton span {
    width: 80%;
    height: 10%;
    background: #fff;
    border-radius: 100px;
    transition: 0.3s ease;
  }
  
  input[type]:checked ~ span.top {
    transform: translateY(290%)rotate(45deg);
    width: 80%;
  }
  
  input[type]:checked ~ span.bot {
    transform: translateY(-160%) rotate(-45deg);
    width: 80%;
    /* box-shadow: 0 0 10px #495057; */
  }
  
  input[type]:checked ~ span.mid {
    opacity: 0;
  }




/* --------------------------INICIO-------------------------- */
main {
    width: 100%;
    height: 100%;
}

.Inicial {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: url(../img/igreja-obpc.jpg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    font-size: 1.3rem;
}

.inicial-textos {
    width: 100vw;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    text-align: center;
    color: white;
}

.nomeMandaqui {
    font-size: 7rem;
    text-shadow: 1px 1px 2px black;
    color: var(--color-titulo);
}

.slogan {
    text-shadow: 1px 1px 0px black;
}


.inicial-footer {
    width: 100vw;
    height: 15vh;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    background: none;
    color: white;
    font-size: 1rem;
    background-color: rgba(0, 0, 0, 0.24);
    backdrop-filter: blur(4px);

    /* background-color: red;    */
}

.bold {
    font-weight: bold;
}

.endereco:hover {
    text-decoration: underline;
}


/* --------------------------AGENDA-------------------------- */
.second-page {
    width: 100vw;
    height: 150vh;
}

.apascentai {
    width: 100vw;
    height: 90vh;
    padding: 2rem;
    gap: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.titulo {
    text-transform: uppercase;
    font-size: 2rem;
    letter-spacing: 0px;
    margin-top: 2rem;
}

.agenda-apascentai {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.agenda-apascentai-adulto {
    display: inline-block;
    width: 30vw;
    height: 40vh;
    background-image: url(../img/Apascentai-2024-adulto.jpeg);
    background-position: center;
    background-size: cover;
    border-radius: 5px;
    box-shadow: 1px 0px 10px 1px rgba(0, 0, 0, 0.321);
    position: relative;
    transition: 0.3s;
}

.agenda-apascentai-adulto:hover {
    transform: scale(1.1);
    transition: 0.3s;
}

.agenda-apascentai-adulto p {
    position: absolute;
    bottom: 0;
    display: block;
    width: 100%;
    padding: 10px 5px;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.575);
    color: #131b22;
    text-transform: capitalize;
    font-weight: bold;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
}

.agenda-apascentai-kids {
    width: 30vw;
    height: 40vh;
    background-image: url(../img/Apascentai-2024-kids.jpeg);
    display: block;
    background-color: red;
    background-position: center;
    background-size: cover;
    border-radius: 5px;
    box-shadow: 1px 0px 10px 1px rgba(0, 0, 0, 0.321);
    text-align: center;
    position: relative;
    transition: 0.3s;
}

.agenda-apascentai-kids:hover {
    transform: scale(1.1);
    transition: 0.3s;
}

.agenda-apascentai-kids>p {
    position: absolute;
    bottom: 0;
    display: block;
    width: 100%;
    padding: 10px 5px;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.575);
    color: #131b22;
    text-transform: capitalize;
    font-weight: bold;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
}


/* --------------------------MINISTRAÇÕES-------------------------- */
.ministracoes {
    width: 100vw;
    height: 60vh;
    padding: 2rem;
    gap: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    background-color: #131b22;
}

.ministracoes h2 {
    text-transform: uppercase;
    font-size: 2rem;
    color: white;
}

.ministracoes-links {
    width: 100vw;
    height: 90vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.santa-ceia {
    width: 25vw;
    height: 60%;
    /* background-image: url(img/santa-ceia.jpg); */
    background-position: center;
    background-size: cover;
    border-radius: 5px;
    transition: 0.3s;
}
.santa-ceia > img {
    width: 100%;
    height: 100%;
}

.santa-ceia:hover {
    transform: scale(1.1);
    transition: 0.3s;
}

.culto-domingo {
    width: 25vw;
    height: 60%;
    background-image: url(../img/culto-domingo.jpg);
    background-position: center;
    background-size: cover;
    border-radius: 5px;
    transition: 0.3s;
}

.culto-domingo > img {
    width: 100%;
    height: 100%;
}

.culto-domingo:hover {
    transform: scale(1.1);
    transition: 0.3s;
}

.devocional {
    width: 25vw;
    height: 60%;
    background-image: url(img/devocional.jpg);
    background-position: center;
    background-size: cover;
    border-radius: 5px;
    transition: 0.3s;
}

.devocional > img {
    width: 100%;
    height: 100%;
}

.devocional:hover {
    transform: scale(1.1);
    transition: 0.3s;
}


/* --------------------------PALAVRA-PR-------------------------- */
.terceira-page{
    width: 100vw;
    height: 90vh;
}
.palavra-pr {
    display: flex;
    width: 100vw;
    height: 90vh;
    gap: 1rem;
    padding: 1rem
}
.palavra-pr img {
    width: 40%;
    height: 70%;
    border-radius: 2px;
}
.palavra-pr  a > button {
    width: 15vw;
    margin: 1rem 0px;
    padding: 0.8rem;
    background-color: white;
    border: 1px solid rgba(0, 0, 0, 0.688);
    border-radius: 5px;
    letter-spacing: 1px;
    font-size: 1rem;
    cursor: pointer;
    transition: 0.5s;
}
.palavra-pr  a > button:hover {
    background-color: #2488ff;
    color: white;
    transition: 0.5s;
}
.mensagem-pr{
    width: 60%;
    font-size: 12px;
    align-items: center;
}
.mensagem-p > h2{
    font-size: 1.5rem;
}
.barra-separacao {
    margin: 0.8rem 0px;
    width: 9.5vw;
    height: 1vh;
    background-color: #131b22;
    border-radius: 5px;
}
.barra-separacao-2 {
    margin: 0.8rem 0px;
    width: 32vw;
    height: 1vh;
    background-color: #131b22;
    border-radius: 5px;
}


/* --------------------------NOTÍCIAS-------------------------- */
.noticias {
    width: 100vw;
    height: 50vh;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid black;
    background: url(../img/fundo-igreja.jpg) center center no-repeat;
    background-size: cover;
}
.noticias a>button {
    font-size: 2rem;
    font-weight: 200;
    /* font-style: italic; */
    width: 40vw;
    height: 25vh;
    color: #090909;
    border-radius: 10px;
    border: 1px solid black;
    cursor: pointer;
    background-color: white;
    transition: 0.5s;
}
.noticias a>button:hover {
    color: #e1e1e1;
    background-color: #2488ff;
    transition: 0.5s;
}



/* --------------------------FOOTER-------------------------- */
footer {
    padding: 5rem;
    display: flex;
    width: 100vw;
    height: 50vh;
    background: linear-gradient(135deg, #19242d 10%, #131b22 80%);
    color: white;
    justify-content: space-evenly;
    font-size: 18px;
}
footer a {
    color: white;
    font-weight: 200;
}
footer a:hover {
    color: #2488ff;
}
.barra-separacao-3 {
    margin: 0.2rem 0px 0.8rem 0px;
    width: 14.6vw;
    height: 0.7vh;
    background-color: #2488ff;
    border-radius: 5px;
}
.rd-social{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}
.insta {
    width: 3vw;
}
.icon-rs{
    transition: 0.5s;
}
.icon-rs:hover {
    transform: scale(1.2);
    transition: 0.5s;
}


@media (max-width: 600px) {
    
}